.home{
    position: fixed;
    height: 100%;
    width: 100%;
    
  overflow: auto;
  background: lightgray;
    
}
.welcome{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width:fit-content;
  margin: auto;
  text-align: center;
  font-family: arial;
  background: lime;
}
.tokens{
    align-content: flex-start;
    margin-left: 10px;
}